extends layout 

block content 
  h3 Adding news 

  div(class='add_article_wrapper')
    form(method='post') 
      div(class="form_field")
        p
          label Title 
        input(type=text name='title')
      div(class='form_field')
        p 
          label Description 
        textarea(name='content', cols='30', rows='10') 
      input(type='submit' value='submit')