body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  position: relative;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #e1e1e1;
  justify-content: space-between;
  padding: 30px;
}

.active {
  color: green;
  font-weight: bold;
}

.login_header,
form {
  width: 100%;
  text-align: center;
}

.form_field {
  margin-bottom: 10px;
}

.error { 
  color: red;
}

.add_article_wrapper {
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 1px 1px 1px #e3e3e3;
  padding: 10px 15px;
}

.news_document {
  padding: 10px 15px;
  border: 1px solid pink;
  margin-bottom: 15px;
}

.visible {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  display: block;
  padding: 4px;
}

.invisible {
  display: none;
}

.admin_remover {
  position: absolute;
  top: 5px;
  font-weight: bold;
  right: 10px;
}