body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: bisque;
  justify-content: space-between;
  padding: 30px;
}

.active {
  color: green;
  font-weight: bold;
}
